.header{
   background-color: #E3F2FD;
}

.logo img{
     width: 40px;
} 


.header_bottom{
    padding: 40px 0 5px 0;
}

.image{
    height: 500px;
}

.alart{
    padding: 40px 0 ;
}

.progress{
    margin-bottom: 8px;
}

.pro{
    margin-bottom: 18px;
}

.footer{
    background-color: #17A2B8;
}